@charset "UTF-8";

body {
	font-family: sans-serif;
	margin: 0;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	padding-top: 60px;
}

.modal-content {
	background-color: #fefefe;
	margin: 1% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 25%;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.header-contact {
	width: 100%;
	height: 40px;
	background-color: black;
	justify-content: space-around;
	align-items: center;
	display: flex;
}

header {
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
}

.logo {
	margin-right: 130px;
	font-size: 35px;
	font-weight: bold;
	color: #06038E;
}

.nav-menu {
	display: flex;
	width: 100%;
	height: 60px;
	background-color: black;
	align-content: center;
	justify-content: center;
}

.nav-menu li:hover {
	background-color: #06038E;
}

.nav-menu li {
	position: relative;
	display: flex;
	width: 150px;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.nav-menu ul {
	height: inherit;
}

header ul {
	margin-bottom: 0;
}

ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul a {
	text-decoration: none;
	color: #fff;
}

.search-bar {
	position: relative;
	width: 400px;
}

.search-bar input {
	width: 100%;
	padding: 10px;
	border: 1px solid;
	border-radius: 5px;
	border-color: #06038E;
}

.search-bar button {
	position: absolute;
	top: 50%;
	right: 1px;
	transform: translateY(-48.5%);
	color: #fff;
	border: none;
	padding: 10px 14px;
	border-radius: 5px;
	cursor: pointer;
	background-color: #06038E;
}

.hero {
	display: flex;
}

.hero-image {
	height: 100%;
	width: 100%;
}

.banner-xemoi {
	display: flex;
	margin-top: 20px;
}

.banner-xemoi img {
	width: 100%;
	height: 120px;
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px;
}

.product {
	width: 250px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	padding: 15px;
	text-align: center;
}

.shopping-cart {
	margin: 0 30px;
	height: 100%;
	display: flex;
	width: 170px;
	align-items: center;
	align-content: center;
	justify-content: center;
	height: 100%;
}

.header-cart {
	border: 2px solid #06038E;
	padding: 10px 11px 10px 38px;
	border-radius: 4px;
	letter-spacing: .7px;
	font-weight: 500;
	font-size: 13px;
	color: #333;
	position: relative;
}

.header-cart i {
	left: 10px;
	bottom: 6px;
	position: absolute;
}

.account-sign a {
	color: black;
}

.account-sign a:hover {
	color: #06038E;
}

.account-sign ul {
	align-content: center;
	justify-content: center;
}


footer {
	background-color: #333;
	color: #fff;
	padding: 20px 0;
	text-align: center;
}

.dropdown-login {
	display: none;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	position: absolute;
	z-index: 1000;
}

.account-sign li:hover .dropdown-login {
	display: block;
}

.dropdown-login  a:hover {
	background-color: #f2f2f2;
}

.dropdown-login a {
	border-bottom: 0.2px #666666;
	color: #333;
	padding: 5px 5px;
	height: 30px;
	display: block;
	text-decoration: none;
}

.dropdown-menu {
	position: absolute;
	top: 95%;
	left: 0;
	display: none;
	z-index: 1000;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.nav-menu li:hover .dropdown-menu {
	display: block;
}

.dropdown-menu a {
	border-bottom: 0.2px #666666;
	color: #333;
	padding: 5px 5px;
	height: 30px;
	width: 100%;
	display: block;
	text-decoration: none;
}

.dropdown-menu ul {
	height: 100%;
}

.dropdown-menu a:hover {
	background-color: #f2f2f2;
}

.section-3 h1 {
	text-align: center;
	font-size: 45px;
	margin-top: 20px;
}

.section-3 {
	color: #fff;
	width: 100%;
	height: 170px;
	background-color: #657AF7;
}

.acticle-1 {
	display: flex;
	justify-content: space-around;
}
h5 {
	text-align: center;
}
